.consulta-container {
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.input-pesquisa {
  background-color: black;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
}

.buscar-button {
  background-color: white;
  font-weight: bold;
  font-size: 16px;
  width: 160px;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.buscar-button:hover {
  background-color: gray;
}

.info-container {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid white;
}

@keyframes puff-in-center {
  0% {
      transform: scale(0);
      filter: blur(4px);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
  }
}

.puff-in {
  animation: puff-in-center 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
